body { background: url(https://im0-tub-ru.yandex.net/i?id=ecd6f494475beeb2b55e33be466b3e86-l&ref=rim&n=13&w=1601&h=942);
    background-color: blue;
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: 100%;
    width: 40%;
     }
h1 {
    color: gold;
    text-align: center;
    font-size: 60px;
}
img {
    width: 100px;
    height: 100px;
}
p {
    color: gold;
    font-size: 30px;
}
div {
    color: gold;
}
table {
    border: 5px solid gold;
    color: gold;
    width: 20%;
    height: auto;
    font-size: 20px;
}
tr, th, td {
    border: 1px solid gold;
}